Repository bcgov/citz-imb-build-with-us-1, pull requests merged in 2022-11, with the labels that each got.

#21 Initialized frontend for matchmaking microservice.
  matchmaking/frontend/.gitignore
  matchmaking/frontend/index.html
  matchmaking/frontend/package-lock.json
  matchmaking/frontend/package.json
  matchmaking/frontend/public/BCGovLogo.png
  matchmaking/frontend/src/MemberList.jsx
  matchmaking/frontend/src/MemoryGame.jsx
  matchmaking/frontend/src/main.jsx
  matchmaking/frontend/src/theme.js
  matchmaking/frontend/vite.config.js
Labels: matchmaking

#22 Matchmaking Cards
  frontend/package-lock.json
  frontend/package.json
  matchmaking/frontend/package-lock.json
  matchmaking/frontend/package.json
  matchmaking/frontend/src/MemoryGame.jsx
  matchmaking/frontend/src/assets/heart_face.svg
  matchmaking/frontend/src/assets/profile_picture.svg
  matchmaking/frontend/src/assets/treasure_chest.svg
  matchmaking/frontend/src/components/MemoryCard/MemoryCard.css
  matchmaking/frontend/src/components/MemoryCard/PersonCard.jsx
  matchmaking/frontend/src/components/MemoryCard/PointCard.jsx
  matchmaking/frontend/src/components/MemoryCard/UnrevealedCard.jsx
  matchmaking/frontend/src/components/MemoryCard/index.jsx
  matchmaking/frontend/src/main.jsx
  matchmaking/frontend/src/pages/MemberList.jsx
  matchmaking/frontend/src/pages/MemoryGame.jsx
Labels: matchmaking

#24 Matchmaking: Button Style
  frontend/src/Layout/Footer.jsx
  matchmaking/frontend/src/css/button.css
  matchmaking/frontend/src/css/common.css
  matchmaking/frontend/src/main.jsx
  package-lock.json
Labels: matchmaking, frontend

#25 Matchmaking: Dockerize
  docker-compose.yaml
  matchmaking/frontend/Dockerfile
  matchmaking/frontend/src/layout/PageLayout.jsx
  matchmaking/frontend/src/pages/MemoryGame.jsx
Labels: matchmaking, frontend, devops
