Repository bcgov/citz-imb-build-with-us-1, pull requests merged in 2023-01, with the labels that each got.

#40 MM: Define project branding variables & heading styles
  matchmaking/frontend/src/assets/fonts/BCSans-Bold.woff2
  matchmaking/frontend/src/assets/fonts/BCSans-BoldItalic.woff2
  matchmaking/frontend/src/assets/fonts/BCSans-Italic.woff2
  matchmaking/frontend/src/assets/fonts/BCSans-Regular.woff2
  matchmaking/frontend/src/css/base.css
  matchmaking/frontend/src/css/button.css
  matchmaking/frontend/src/css/common.css
  matchmaking/frontend/src/css/reset.css
  matchmaking/frontend/src/css/variables.css
Labels: enhancement, matchmaking, frontend

#41 Landing Page
  matchmaking/frontend/public/airplane.png
  matchmaking/frontend/public/lines-2.png
  matchmaking/frontend/public/lines.png
  matchmaking/frontend/public/puzzle.png
  matchmaking/frontend/public/puzzle.svg
  matchmaking/frontend/public/white-pink-union.png
  matchmaking/frontend/public/white-teal-union.png
  matchmaking/frontend/src/assets/airplane.svg
  matchmaking/frontend/src/assets/computer_man.svg
  matchmaking/frontend/src/assets/computer_woman.svg
  matchmaking/frontend/src/assets/ipad_girl.svg
  matchmaking/frontend/src/assets/laptop_girls.svg
  matchmaking/frontend/src/assets/laptop_guy.svg
  matchmaking/frontend/src/assets/like.svg
  matchmaking/frontend/src/assets/lines-1.svg
  matchmaking/frontend/src/assets/lines.svg
  matchmaking/frontend/src/layout/Footer.jsx
  matchmaking/frontend/src/layout/PageLayout.jsx
  matchmaking/frontend/src/main.jsx
  matchmaking/frontend/src/pages/LandingPage.css
  matchmaking/frontend/src/pages/LandingPage.jsx
  matchmaking/frontend/src/theme.js
Labels: enhancement, matchmaking, frontend

#42 Keycloak Gold
  matchmaking/frontend/package-lock.json
  matchmaking/frontend/package.json
  matchmaking/frontend/src/main.jsx
  matchmaking/frontend/src/pages/LandingPage.jsx
  matchmaking/frontend/src/providers/AuthProvider.jsx
Labels: enhancement, frontend, auth

#43 Header Update
  matchmaking/frontend/src/layout/Header.jsx
Labels: enhancement, frontend

#44 [Matchmaking] Backend Nodemon + Postgres Database
  .gitignore
  docker-compose.yaml
  frontend/package-lock.json
  matchmaking/backend/.dockerignore
  matchmaking/backend/Dockerfile
  matchmaking/backend/README.md
  matchmaking/backend/controllers/README.md
  matchmaking/backend/controllers/users.js
  matchmaking/backend/database/README.md
  matchmaking/backend/database/connection.js
  matchmaking/backend/database/migrations.js
  matchmaking/backend/database/migrations.json
  matchmaking/backend/express.js
  matchmaking/backend/index.js
  matchmaking/backend/package-lock.json
  matchmaking/backend/package.json
  matchmaking/backend/queries/README.md
  matchmaking/backend/queries/index.js
  matchmaking/backend/queries/users.js
  matchmaking/backend/routes/README.md
  matchmaking/backend/routes/users.js
  matchmaking/backend/utils/colors.js
  matchmaking/backend/utils/index.js
  matchmaking/database/README.md
  matchmaking/database/init/01-create_tables.sql
  matchmaking/database/init/02-create_groups.sql
  package-lock.json
  templates/template.docker-compose.override.yaml
  templates/template.env
Labels: documentation, matchmaking, express, docker, postgres
