Repository bcgov/citz-imb-build-with-us-1, pull requests merged in 2023-02, with the labels that each got.

#46 Added keycloak to matchmaking backend
  .gitignore
  docker-compose.yaml
  matchmaking/backend/.dockerignore
  matchmaking/backend/Dockerfile
  matchmaking/backend/README.md
  matchmaking/backend/controllers/auth.js
  matchmaking/backend/controllers/index.js
  matchmaking/backend/controllers/users.js
  matchmaking/backend/database/migrations.js
  matchmaking/backend/database/migrations.json
  matchmaking/backend/express.js
  matchmaking/backend/index.js
  matchmaking/backend/keycloak.js
  matchmaking/backend/package-lock.json
  matchmaking/backend/package.json
  matchmaking/backend/queries/users.js
  matchmaking/backend/routes/auth.js
  matchmaking/backend/routes/health.js
  matchmaking/backend/routes/index.js
  matchmaking/backend/routes/users.js
  matchmaking/backend/utils/index.js
  templates/template.env
Labels: matchmaking, express, auth

#47 Creates Makefile with matchmaking up command.
  Makefile
  matchmaking/backend/package-lock.json
Labels: enhancement, devops

#50 Removes matchmaking frontend package-lock from git repo.
  matchmaking/frontend/package-lock.json
Labels: matchmaking, frontend, .github

#49 Frontend Matchmaking Services
  docker-compose.yaml
  frontend/package-lock.json
  matchmaking/backend/package-lock.json
  matchmaking/frontend/Dockerfile
  matchmaking/frontend/src/main.jsx
  matchmaking/frontend/src/pages/LandingPage.jsx
  matchmaking/frontend/src/providers/BaseProvider.jsx
  matchmaking/frontend/src/providers/JourneyProvider.jsx
  matchmaking/frontend/src/providers/UserProvider.jsx
  matchmaking/frontend/src/services/journey/index.jsx
  matchmaking/frontend/src/services/journey/journeyActions.jsx
  matchmaking/frontend/src/services/journey/journeyReducer.jsx
  matchmaking/frontend/src/services/journey/useJourneyService.jsx
  matchmaking/frontend/src/services/users/index.jsx
  matchmaking/frontend/src/services/users/useUserService.jsx
  matchmaking/frontend/src/services/users/userActions.jsx
  matchmaking/frontend/src/services/users/userReducer.jsx
  matchmaking/frontend/vite-env.d.ts
  matchmaking/frontend/vite.config.js
  templates/template.env
Labels: frontend

#51 Keycloak Backend Functionality
  Makefile
  matchmaking/backend/config.js
  matchmaking/backend/controllers/auth.js
  matchmaking/backend/express.js
  matchmaking/backend/keycloak.js
  matchmaking/backend/middleware/protect.js
  matchmaking/backend/package.json
  matchmaking/backend/routes/auth.js
  matchmaking/backend/utils/index.js
  matchmaking/backend/utils/keycloak.js
  templates/template.env
Labels: express, keycloak

#54 Activate function, getUserData function and fixed protect middleware
  matchmaking/backend/README.md
  matchmaking/backend/config.js
  matchmaking/backend/controllers/auth.js
  matchmaking/backend/express.js
  matchmaking/backend/middleware/index.js
  matchmaking/backend/middleware/protect.js
  matchmaking/backend/queries/users.js
  matchmaking/backend/utils/activateUser.js
  matchmaking/backend/utils/index.js
  matchmaking/backend/utils/keycloak.js
Labels: documentation, enhancement, matchmaking, express, auth, keycloak

#58 MM Backend Destructuring Fix
  matchmaking/backend/utils/activateUser.js
Labels: bugfix, backend

#56 MM discovered user endpoints
  matchmaking/backend/controllers/users.js
  matchmaking/backend/queries/users.js
  matchmaking/backend/routes/users.js
  matchmaking/backend/utils/activateUser.js
Labels: matchmaking, express

#57 Added frontend auth system and token storage
  matchmaking/frontend/src/AppRouter.jsx
  matchmaking/frontend/src/layout/Header.jsx
  matchmaking/frontend/src/main.jsx
  matchmaking/frontend/src/pages/LandingPage.jsx
  matchmaking/frontend/src/providers/AuthProvider.jsx
  matchmaking/frontend/src/services/auth/authActions.jsx
  matchmaking/frontend/src/services/auth/authReducer.jsx
  matchmaking/frontend/src/services/auth/index.jsx
  matchmaking/frontend/src/services/auth/useAuthService.jsx
  matchmaking/frontend/src/services/users/useUserService.jsx
  matchmaking/frontend/src/utils/decodeJWT.js
Labels: frontend, auth

#59 Fixed issue in useAuthService which was preventing the app from building
  matchmaking/frontend/src/services/auth/useAuthService.jsx
Labels: frontend, bugfix

#60 Navigate to Page Fix
  matchmaking/frontend/Dockerfile
Labels: docker

#61 Matchmaking Lab Template
  matchmaking/frontend/src/AppRouter.jsx
  matchmaking/frontend/src/components/MatchingGame.jsx
  matchmaking/frontend/src/pages/MatchingGamePage.jsx
  matchmaking/frontend/src/pages/MemoryGame.jsx
Labels: matchmaking, frontend

#68 renaming action files, renaming build tag deploy steps
  .github/workflows/build-deploy-imbc-api.yaml
  .github/workflows/build-deploy-imbc-frontend.yaml
Labels: Github Actions

#72 Env Variable Workaround
  docker-compose.yaml
  imb-campus/frontend/Dockerfile
  imb-campus/frontend/src/main.jsx
  imb-campus/frontend/src/services/auth/useAuthService.jsx
  imb-campus/frontend/src/services/journey/useJourneyService.jsx
  imb-campus/frontend/src/services/users/useUserService.jsx
Labels: IMBC Frontend

#55 MM Migration Setup
  Makefile
  imb-campus/backend/database/connection.js
  imb-campus/backend/database/migrations.js
  imb-campus/backend/database/migrations.json
  imb-campus/backend/database/migrations/01-create-tables/scripts/create-tables.sql
  imb-campus/backend/database/migrations/02-alter-tables/scripts/alter-tables.sql
  imb-campus/backend/database/migrations/03-populate/scripts/insert-groups.sql
  imb-campus/backend/queries/index.js
  imb-campus/backend/queries/migrations.js
Labels: matchmaking, express, postgres

#73 Added readme to imbcampus frontend
  imb-campus/frontend/README.md
Labels: documentation

#74 auth env var changes
  openshift/templates/imb-campus/api/imbc-api-dc-template.yaml
Labels: Openshift
